# Prep Files for Tableau

In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# import and set up dataframes
outpatient_clean = pd.read_csv('../data/outpatient_clean.csv', low_memory=False)
providers_clean = pd.read_csv('../data/providers_clean.csv', low_memory=False)
cbsa_to_name = pd.read_csv('../data/core-based-statistical-areas-cbsas-and-combined-statistical-areas-csas.csv', engine='python')
cbsa_excel = '../data/ZIP_CBSA_032020.xlsx'
cbsa = pd.read_excel(cbsa_excel) 

outpatient_clean.head()

,Unnamed: 0,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,provider_hospital_referral_region_(hrr),apc,apc_description,beneficiaries,comprehensive_apc_services,average_estimated_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount,outlier_comprehensive_apc_services,average_medicare_outlier_amount
0,0,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249.0,259,9575.005714,1038.454672,826.277954,NaN,NaN
1,1,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52.0,53,12578.280189,1792.596792,1423.246792,NaN,NaN
2,2,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,27,11337.608889,2113.580000,1683.990000,0.0,0.0
3,3,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5092,Level 2 Breast/Lymphatic Surgery and Related P...,23.0,23,17116.158261,3737.140000,2977.550000,0.0,0.0
4,4,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5112,Level 2 Musculoskeletal Procedures,17.0,17,7382.732353,1029.460000,820.210000,0.0,0.0

In [3]:
outpatient_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61779 entries, 0 to 61778
Data columns (total 17 columns):
Unnamed: 0                                   61779 non-null int64
provider_id                                  61779 non-null int64
provider_name                                61779 non-null object
provider_street_address                      61779 non-null object
provider_city                                61779 non-null object
provider_state                               61779 non-null object
provider_zip_code                            61779 non-null int64
provider_hospital_referral_region_(hrr)      61779 non-null object
apc                                          61779 non-null int64
apc_description                              61779 non-null object
beneficiaries                                60782 non-null float64
comprehensive_apc_services                   61779 non-null int64
average_estimated_total_submitted_charges    61779 non-null float64
average_medicare_allowed_amount              61779 non-null float64
average_medicare_payment_amount              61779 non-null float64
outlier_comprehensive_apc_services           39755 non-null float64
average_medicare_outlier_amount              39755 non-null float64
dtypes: float64(6), int64(5), object(6)
memory usage: 8.0+ MB

In [4]:
providers_clean.head(25)

,Unnamed: 0,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_medicare_allowed_amt,average_submitted_chrg_amt,average_medicare_payment_amt,average_medicare_standard_amt
0,0,1,Cpt copyright 2016 american medical associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,2,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,3,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,4,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763
5,5,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000
6,6,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99222,"Initial hospital inpatient care, typically 50 ...",N,59.0,57.0,59.0,137.310000,625.000000,105.825424,107.070678
7,7,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99223,"Initial hospital inpatient care, typically 70 ...",N,114.0,110.0,114.0,206.061579,923.991228,160.377193,160.026316
8,8,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99232,"Subsequent hospital inpatient care, typically ...",N,627.0,233.0,627.0,72.622456,326.245614,56.366730,57.047895
9,9,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99233,"Subsequent hospital inpatient care, typically ...",N,207.0,127.0,207.0,106.653913,461.072464,82.820676,83.196039
10,10,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99239,"Hospital discharge day management, more than 3...",N,341.0,291.0,341.0,108.363284,481.686217,84.056158,84.955132
11,11,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 SETON DR,NaN,...,99291,Critical care delivery critically ill or injur...,N,36.0,23.0,36.0,224.170000,1400.000000,175.750000,177.656667
12,12,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88304,Pathology examination of tissue using a micros...,N,268.0,249.0,252.0,12.789739,115.000000,9.842127,9.390821
13,13,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88305,Pathology examination of tissue using a micros...,N,6162.0,3481.0,4489.0,41.299942,170.000000,31.426415,30.401900
14,14,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88312,Special stained specimen slides to identify or...,N,438.0,289.0,294.0,29.240251,88.000000,22.700525,22.163379
15,15,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88313,Special stained specimen slides to examine tis...,N,86.0,63.0,65.0,13.137558,68.000000,10.298140,9.849535
16,16,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88321,Surgical pathology consultation and report,N,27.0,27.0,27.0,92.750000,273.555556,67.333333,64.083333
17,17,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88341,Special stained specimen slides to examine tissue,N,385.0,117.0,118.0,30.710000,76.083117,23.770078,23.170961
18,18,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88342,Tissue or cell analysis by immunologic technique,N,190.0,173.0,176.0,38.740000,146.757895,29.744474,28.780158
19,19,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88344,Special stained specimen slides to examine tissue,N,413.0,304.0,326.0,42.389758,124.820823,32.531162,31.550678
20,20,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88346,Antibody evaluation,N,84.0,83.0,83.0,39.110000,175.000000,29.345000,28.841310
21,21,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88360,Microscopic genetic analysis of tumor,N,33.0,28.0,28.0,59.210000,182.000000,45.349697,43.949697
22,22,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,88381,"Preparation of specimen, manual",N,24.0,17.0,18.0,27.020000,179.000000,21.189583,20.567083
23,23,1003000142,Khalil,Rashid,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,...,20611,Aspiration and/or injection of major joint or ...,N,35.0,21.0,34.0,73.095143,142.800000,53.834286,55.245714
24,24,1003000142,Khalil,Rashid,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,...,62323,Injection of substance into spinal canal of lo...,N,40.0,32.0,40.0,101.090000,159.000000,79.250000,81.310000

hello world

In [5]:
providers_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9847444 entries, 0 to 9847443
Data columns (total 27 columns):
Unnamed: 0                          int64
npi                                 int64
nppes_provider_last_org_name        object
nppes_provider_first_name           object
nppes_provider_mi                   object
nppes_credentials                   object
nppes_provider_gender               object
nppes_entity_code                   object
nppes_provider_street1              object
nppes_provider_street2              object
nppes_provider_city                 object
nppes_provider_zip                  object
nppes_provider_state                object
nppes_provider_country              object
provider_type                       object
medicare_participation_indicator    object
place_of_service                    object
hcpcs_code                          object
hcpcs_description                   object
hcpcs_drug_indicator                object
line_srvc_cnt                       float64
bene_unique_cnt                     float64
bene_day_srvc_cnt                   float64
average_medicare_allowed_amt        float64
average_submitted_chrg_amt          float64
average_medicare_payment_amt        float64
average_medicare_standard_amt       float64
dtypes: float64(7), int64(2), object(18)
memory usage: 2.0+ GB

In [6]:
cbsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47415 entries, 0 to 47414
Data columns (total 6 columns):
ZIP          47415 non-null int64
CBSA         47415 non-null int64
RES_RATIO    47415 non-null float64
BUS_RATIO    47415 non-null float64
OTH_RATIO    47415 non-null float64
TOT_RATIO    47415 non-null float64
dtypes: float64(4), int64(2)
memory usage: 2.2 MB

# Exclude Out-of-State Providers

In [7]:
tennessee_outpatient_clean = outpatient_clean[outpatient_clean ['provider_state'] == 'TN'] 
tennessee_providers_clean = providers_clean[providers_clean ['nppes_provider_state'] == 'TN'] 

tennessee_outpatient_clean.head()

,Unnamed: 0,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,provider_hospital_referral_region_(hrr),apc,apc_description,beneficiaries,comprehensive_apc_services,average_estimated_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount,outlier_comprehensive_apc_services,average_medicare_outlier_amount
49863,49863,440001,Unicoi County Memorial Hospital,Greenway Circle,Erwin,TN,37650,TN - Johnson City,8011,Comprehensive Observation Services,16.0,16,9972.375000,1824.380000,1453.570000,0.0,0.0
49864,49864,440002,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301,TN - Jackson,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,517.0,532,5914.078778,1079.419492,855.411353,NaN,NaN
49865,49865,440002,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301,TN - Jackson,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,60.0,62,10995.436774,1884.603226,1495.721290,NaN,NaN
49866,49866,440002,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301,TN - Jackson,5091,Level 1 Breast/Lymphatic Surgery and Related P...,68.0,70,11645.033714,2164.578000,1713.238000,NaN,NaN
49867,49867,440002,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301,TN - Jackson,5092,Level 2 Breast/Lymphatic Surgery and Related P...,72.0,73,18190.850959,3883.461233,3085.206575,0.0,0.0

In [8]:
tennessee_outpatient_clean.head()

,Unnamed: 0,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,provider_hospital_referral_region_(hrr),apc,apc_description,beneficiaries,comprehensive_apc_services,average_estimated_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount,outlier_comprehensive_apc_services,average_medicare_outlier_amount
49863,49863,440001,Unicoi County Memorial Hospital,Greenway Circle,Erwin,TN,37650,TN - Johnson City,8011,Comprehensive Observation Services,16.0,16,9972.375000,1824.380000,1453.570000,0.0,0.0
49864,49864,440002,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301,TN - Jackson,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,517.0,532,5914.078778,1079.419492,855.411353,NaN,NaN
49865,49865,440002,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301,TN - Jackson,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,60.0,62,10995.436774,1884.603226,1495.721290,NaN,NaN
49866,49866,440002,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301,TN - Jackson,5091,Level 1 Breast/Lymphatic Surgery and Related P...,68.0,70,11645.033714,2164.578000,1713.238000,NaN,NaN
49867,49867,440002,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301,TN - Jackson,5092,Level 2 Breast/Lymphatic Surgery and Related P...,72.0,73,18190.850959,3883.461233,3085.206575,0.0,0.0

# Join Zip and CBSA Files to Get CBSA Names

In [9]:
cbsa_to_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
CBSA Code                                     1918 non-null object
Metropolitan Division Code                    111 non-null object
CSA Code                                      1256 non-null object
CBSA Title                                    1916 non-null object
Metropolitan/Micropolitan Statistical Area    1915 non-null object
Metropolitan Division Title                   1915 non-null object
CSA Title                                     110 non-null object
County/County Equivalent                      1255 non-null object
State Name                                    1915 non-null object
FIPS State Code                               1915 non-null object
FIPS County Code                              1915 non-null object
Central/Outlying County                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: object(15)
memory usage: 224.9+ KB

In [10]:
# clean up column names
cbsa.columns = cbsa.columns.str.replace(' ', '_').str.lower()
cbsa_to_name.columns = cbsa_to_name.columns.str.replace(' ', '_').str.lower()
cbsa_to_name['cbsa_code'] = pd.to_numeric(cbsa_to_name['cbsa_code'], errors='coerce')
cbsa_to_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
cbsa_code                                     1915 non-null float64
metropolitan_division_code                    111 non-null object
csa_code                                      1256 non-null object
cbsa_title                                    1916 non-null object
metropolitan/micropolitan_statistical_area    1915 non-null object
metropolitan_division_title                   1915 non-null object
csa_title                                     110 non-null object
county/county_equivalent                      1255 non-null object
state_name                                    1915 non-null object
fips_state_code                               1915 non-null object
fips_county_code                              1915 non-null object
central/outlying_county                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: float64(1), object(14)
memory usage: 224.9+ KB

In [15]:
# convert zip code to numeric fields

# DEBUGDEBUG: This isn't working

s = tennessee_providers_clean['nppes_provider_zip']
pd.to_numeric(s, errors='coerce')

# pd.to_numeric(tennessee_providers_clean['nppes_provider_zip'], errors='coerce')
tennessee_providers_clean.info()

# # join files
# tennessee_providers_clean = pd.merge(left=tennessee_providers_clean, right=cbsa, 
#                                      left_on='nppes_provider_zip', right_on='zip', how='outer')
# # tennessee_outpatient_clean = pd.merge(left=tennessee_outpatient_clean, right=cbsa, left_on='provider_zip_code', right_on='zip', how='outer')

# print(tennessee_providers_clean.info())
# print(tennessee_outpatient_clean.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269452 entries, 416 to 9847080
Data columns (total 27 columns):
Unnamed: 0                          269452 non-null int64
npi                                 269452 non-null int64
nppes_provider_last_org_name        269448 non-null object
nppes_provider_first_name           259479 non-null object
nppes_provider_mi                   212470 non-null object
nppes_credentials                   253511 non-null object
nppes_provider_gender               259479 non-null object
nppes_entity_code                   269452 non-null object
nppes_provider_street1              269452 non-null object
nppes_provider_street2              115651 non-null object
nppes_provider_city                 269452 non-null object
nppes_provider_zip                  269452 non-null object
nppes_provider_state                269452 non-null object
nppes_provider_country              269452 non-null object
provider_type                       269452 non-null object
medicare_participation_indicator    269452 non-null object
place_of_service                    269452 non-null object
hcpcs_code                          269452 non-null object
hcpcs_description                   269452 non-null object
hcpcs_drug_indicator                269452 non-null object
line_srvc_cnt                       269452 non-null float64
bene_unique_cnt                     269452 non-null float64
bene_day_srvc_cnt                   269452 non-null float64
average_medicare_allowed_amt        269452 non-null float64
average_submitted_chrg_amt          269452 non-null float64
average_medicare_payment_amt        269452 non-null float64
average_medicare_standard_amt       269452 non-null float64
dtypes: float64(7), int64(2), object(18)
memory usage: 57.6+ MB

In [ ]:
outpatient_clean = pd.merge(left=outpatient_clean, right=cbsa_to_name, 
                                      left_on='cbsa', right_on='cbsa_code', how='outer')
outpatient_clean.info()

# Drop Un-needed Columns

In [ ]:
# Drop all but listed tables for outpatient
tennessee_outpatient_tableau = tennessee_outpatient_clean[[
    'provider_name',
    'apc',
    'apc_description',
    'beneficiaries',
    'comprehensive_apc_services',
    'average_estimated_total_submitted_charges',
    'average_medicare_allowed_amount',
    'average_medicare_payment_amount',
    'average_medicare_outlier_amount',
    'zip',
    'cbsa',
    'cbsa_title']]
tennessee_outpatient_tableau = tennessee_outpatient_tableau.dropna()
tennessee_outpatient_tableau

# Join Outpatient and Providers

In [ ]:
# Rename Columns to Simplify Join
new_outpatient_column_names = [
]

new_provider_column_names = [
]

tennessee_outpatient_clean.columns = new_outpatient_column_names
tennessee_providers_clean.columns = new_provider_column_names


tennessee_outpatient_clean.columns
tennessee_providers_clean.columns

# Get Files Ready for Tableau
- drop un-needed columns
- fix datatypes

In [ ]:
tennessee_outpatient_tableau['zip']= tennessee_outpatient_tableau['zip'].astype(int)
tennessee_outpatient_tableau['apc']= tennessee_outpatient_tableau['apc'].astype(int)
tennessee_outpatient_tableau['cbsa']= tennessee_outpatient_tableau['cbsa'].astype(int)
tennessee_outpatient_tableau.info()

In [ ]:
tennessee_outpatient_tableau

In [ ]:
# Drop all but listed tables for proviers
tennessee_providers_tableau = tennessee_providers_clean[[
    'nppes_provider_last_org_name',
    'provider_type',
    'place_of_service',
    'hcpcs_code',
    'hcpcs_description',
    'line_srvc_cnt',
    'bene_unique_cnt',
    'average_medicare_allowed_amt',
    'average_submitted_chrg_amt',
    'average_medicare_payment_amt',
    'average_medicare_standard_amt']]
tennessee_providers_tableau = tennessee_providers_tableau.dropna()
tennessee_providers_tableau.head(50)

In [ ]:
tennessee_providers_tableau['hcpcs_code']= tennessee_providers_tableau['hcpcs_code'].astype(int)
tennessee_providers_tableau['hcpcs_code']= tennessee_providers_tableau['hcpcs_code'].astype(object)
tennessee_providers_tableau.info()

In [ ]:
# save files

tennessee_outpatient_tableau.to_csv('../data/tennessee_outpatient_tableau.csv')
tennessee_providers_tableau.to_csv('../data/tennessee_providers_tableau.csv')

In [ ]:
tennessee_outpatient_tableau